
body {
  background-color: #f4f4f4;
  color: #333;
}

nav {
  color: #fff;
}

nav ul {
  background-color: white;
  list-style: none;
  padding: 25px;
  margin: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav li a {
 color: black;
 font-weight: bold;
text-decoration: none;
padding-right: 40px;
}

nav li a:hover {
text-decoration: underline;
 }

.home-main {
padding: 70px;
text-align: center;
}

.home-main h1 {
  font-weight: bold;
  font-size: 70px;
}

.home-main h2 {
  font-size: 40px;
  color: white;
}

.home-main button {
  width: 150px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
}

.home-main button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.login-main{
  text-align: center;
}

.login-main h2{
  font-size: 70px;
  color: white;
}

.login-main input{
  padding: 7px;
  border-radius: 5px;
  margin: 10px;
}

.login-main button {
  width: 150px;
  padding: 5px;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin: 30px;
}

.login-main button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}