body {
  background-image: url(https://media.giphy.com/media/3oEjHHMtBYjU3MP5yE/giphy-downsized-large.gif);
  background-size: cover;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}

nav {
 background-color: transparent;
  width: 100vw;
}

nav ul {
  list-style: none;
  padding: 25px;
  margin: 0;
}

nav li {
  font-size: 30px;
  display: inline;
  margin-left: 20px;
}

nav li a {
  color: orange;
  text-decoration: none;
  padding-right: 60px;
}

nav li a:hover {
  color: white;
}

.home-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10px;
  width: 100vw;
}

.home-main h1 {
  font-weight: bold;
  font-size: 110px;
}

.home-main h2 {
  font-size: 60px;
  color: white;
}

.login-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-main h2 {
  font-size: 70px;
  color: white;
}



.players-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-main h1 {
  font-size: 70px;
  text-align: center;
}

.players-main input {
  padding: 7px;
  border-radius: 5px;
  margin: 10px;
}

.players-main button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 10px;
  background-color:transparent;
  color: white;
  border: 3px solid orange;
  border-radius: 10px;
  margin: 30px;
}

.players-main button:hover {
  background-color: white;
  color: orange;
  font-weight: bold;
}

.player-info {
  padding: 60px;
  color: white;
  border: 6px solid orange;
  border-radius: 5px;
  margin: 50px;
}

.player-info h2 {
  font-size: 50px;
  text-decoration: underline;
}

.stats {
  font-weight: bold;
  font-size: 20px;
}

.mem-main{
  padding-top: 100px;
}

.mem-main h1{
  font-size: 70px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10px;
  width: 100vw;
 
}

/* .mem-info{
  display: block;
  flex-direction: row;
  align-items: center;
  padding-top: 100px;
  padding-left: 140px;
}

.mem-info h3{
  font-size: 30px;
  color: white;
}

p{
  font-size: 20px;
  color: white;
}

ul{
  font-size: 20px;
  color: white;
}  */

.mem-info {
  border: 3px solid orange;
  border-radius: 10px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
margin: 100px;
  width: 90vw;
}

.mem-info h3{
  color: white;
  font-size: 40px;
}

.mem-info ul, p{
  font-size: 20px;
  color: white;
}

.mem-info:hover{
  background-color: orange;
}