body {
  background-image: url(https://im3.ezgif.com/tmp/ezgif-3-5dc259c868.gif);
  background-size: cover;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}

.active {
  background-color: #f0872d;
}

/*NAV*/
nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.nav-icon {
  font-size: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-top: 10px;
}

nav li {
  font-size: 30px;
  font-weight: bold;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
}

nav li a:not(.active):hover {
  color: #f0872d;
}

/*HOME PAGE*/
.home-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10px;
  width: 100vw;
}

.home-main h1 {
  font-weight: bold;
  font-size: 110px;
  color: #f0872d;
  text-shadow: 2px 7px 5px white;
}

.home-main h2 {
  font-size: 60px;
  color: white;
}

/*LOGIN*/
.login-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-main h2 {
  font-size: 60px;
  color: white;
}

.login-main input {
  font-size: 20px;
  color: white;
}

/*PLAYERS*/
.players-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-main h1 {
  font-size: 60px;
  text-align: center;
}

.players-main input {
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

.players-main button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 5px solid #f0872d;
  border-radius: 10px;
  margin: 30px;
}

.players-main button:hover {
  background-color: #f0872d;
  color: white;
  font-weight: bold;
}

.player-info {
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #f0872d;
}

.player-info h2 {
  font-size: 30px;
  text-decoration: underline;
}

.player-info button {
  width: 400px;
  border: 5px solid white;
}

.stats {
  font-weight: bold;
  font-size: 20px;
}

/*MEMBERSHIP*/
.mem-main {
  padding-top: 100px;
}

.mem-main h1 {
  font-size: 60px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.mem-info {
  border: 3px solid #f0872d;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px;
  width: 90vw;
}

.mem-info h3 {
  color: white;
  font-size: 40px;
}

.mem-info ul,
p {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.mem-info:hover {
  background-color: #f0872d;
}

/*SAVED PLAYERS*/
.saved-players h1 {
  font-size: 60px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10px;
  width: 100vw;
  padding-top: 150px;
}

.saved-players h2 {
  text-align: center;
  background-color: #f0872d;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.saved-player-list {
  list-style-type: none;
  padding-top: 170px;
  height: 300;
  font-size: 20px;
  color: white;
  padding-left: 300px;
}

.saved-player-list button {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.player-link {
  text-decoration: none;
  font-size: 20px;
  width: 150px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 5px solid #f0872d;
  border-radius: 10px;
}

.player-link:hover {
  background-color: #f0872d;
}

/*FOOTER*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0872d;
  padding: 10px;
  height: 60px;
  width: 100%;
}

.footer-tabs {
  display: flex;
  justify-content: space-between
}

.footer-tabs ul li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.footer-tabs a + a {
  margin-left: 20px;
}

.footer-copy {
  font-size: 10px;
}

.select-bttn {
  color: white;
  text-decoration: none;
}
.select-bttn:hover {
  color: white;
  padding: 10px;
  border: 5px solid white;
  border-radius: 5px;
  text-decoration: none;
}

/*ROOKIE*/
.rookie-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 50px;
}

.rookie-main {
  width: 500px;
  margin-left: 300px;
}

.rookie-main h1 {
  font-size: 60px;
}

.rookie-main ul li {
  font-size: 25px;
}

.rookie-main p {
  font-size: 25px;
}

.rookie-img {
  height: 800px;
  width: 1000px;
}

/*STARTER*/
.starter-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 50px;
}

.starter-main {
  width: 500px;
  margin-left: 300px;
}

.starter-main h1 {
  font-size: 60px;
}

.starter-main ul li {
  font-size: 25px;
}

.starter-main p {
  font-size: 25px;
}

.starter-img {
  height: 800px;
  width: 1000px;
}
/*STAR*/
.star-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 50px;
}

.star-main {
  width: 500px;
  margin-left: 100px;
}

.star-main h1 {
  font-size: 60px;
}

.star-main ul li {
  font-size: 25px;
}

.star-main p {
  font-size: 25px;
}

.star-img {
  height: 800px;
  width: 1000px;
}

/*LIVE VID*/
.live-vid {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.live-vid p {
  font-size: 30px;
  text-align: center;
}

/*ABOUT*/
.about-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.about-main h1 {
  font-size: 60px;
  color: #f0872d;
  margin-bottom: 10px;
  margin-top: 100px;
}

.about-main p {
  font-size: 30px;
}

/*CALENEDAR*/
.app {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar {
  width: 1200px;
  height: 30%;
  background-color: #f0872d; 
  color: white;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: 'Patrick Hand SC', cursive;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.react-calendar__navigation button {
color: white;
  min-width: 44px;
  background: none;
  font-size: 30px;
  margin-top: 8px;
}


abbr[title] {
  text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #f0872d;
  border-radius: 10px;
  cursor: pointer;
}


.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #f0872d;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #f0872d;
  cursor: pointer;
}
