

body {
  background-color: black;
  font-family: 'Patrick Hand SC', cursive;
}

h1 {
  color: white;
}

button {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
  width: 150px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 5px solid #F0872D;
  border-radius: 10px;
  margin: 30px;
  
}
button:hover {
  background-color:#f0872d;
  color: white;
  font-weight: bold;
}

input {
  font-family: 'Patrick Hand SC', cursive;
  background-color: #F0872D; 
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  width: 150px;
}

::placeholder {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
